{% extends "mank/header.html" %}

{% load static %}

{% block content %}
<p>hi
</p>
<form action="" method="post" enctype="multipart/form-data">
  {% csrf_token %}
  <input type="file" name="first">
  <input type="file" name="second">
  <button type="submit">Upload</button>
</form>
<div class="luploadbutton">
	<input type="file" id="lbrowse" name="fileupload" style="display: none" onChange="Handlechange('l');"/>
	<input type="text" id="lfilename" readonly="true"/>
	<input type="button" value="Click to select file" id="fakeBrowse" onclick="HandleBrowseClick('l');"/>
</div>
<div class="ruploadbutton">
	<input type="file" id="rbrowse" name="fileupload" style="display: none" onChange="Handlechange('r');"/>
	<input type="text" id="rfilename" readonly="true"/>
	<input type="button" value="Click to select file" id="fakeBrowse" onclick="HandleBrowseClick('r');"/>
</div>
<div class="comparebutton">
	<input type="button" value="Compare" id="comp" onclick="CompareAndPlayMusic();"/>
</div>

{% if uploaded_file_url %}
    <p>File uploaded at: <a href="{{ uploaded_file_url }}">{{ uploaded_file_url }}</a></p>
{% endif %}

{% endblock %}

