.luploadbutton {
  position: absolute;
  top: 25%;
  left: 25%;
  margin-right: -50%;
  transform: translate(-50%, -50%);
}
.ruploadbutton {
  position: absolute;
  top: 25%;
  left: 75%;
  margin-right: -50%;
  transform: translate(-50%, -50%);
}
.comparebutton {
	position: absolute;
	top: 70%;
	left: 50%;
	margin-right: -50%;
	transform: translate(-50%, -50%);
}